@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#C8A97E;
    --heading-text-color:#333333;
    --par-text-color:#666666;
    --sec-text-color:#000000cc;
    --light-text:#0000004d;
    --semi-gray:#ffffff80;
    --bg-dark:#141313;
    --bg-light:#ffffff1a;
    --light-gray:#ffffffb3;
    --font-family-poppins:"Poppins", sans-serif;
    --font-family-great-vibes:"Great Vibes", cursive;
    --bt-text-color:white;
}
.great-vibes{
    font-family: "Great Vibes", cursive;
}
.poppins{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
section{
    padding: 119px 0px;
}
.container{
    margin: auto;
    width: 74.5% !important;
}
.btn-primary{
    color: white;
    border: 1px solid var(--main-color) !important;
    background-color: var(--main-color);
    transition: .3s;
}
.btn-primary:hover{
    
    color: var(--main-color);
    background-color: white;
}
.section-header{
    position: relative;
}
.main-title{
    font-size: 50px;
    position: relative;
    z-index: 2;
    font-weight: 900;
    color: var(--heading-text-color);
}
.sub-title{
    font-size: 100px;
    color: var(--main-color);
    position: absolute;
    top: -85%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%);
}
.top-nav{
    background-color: rgba(255, 255, 255, 0.056);
}
.top-nav p{
    color:  var(--semi-gray);
    margin: 0;
    font-size: 13px;
}
.navbar{
    padding: 0px 0px 10px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    top: 50px;
    background-color: transparent !important;
}
nav .navbar-brand{
    font-size: 20px;
    font-weight: 900;
    color: white;
}
nav .navbar-brand:hover{
    color: white !important;
}
nav .btn-primary{
    padding: 12.8px 20px;
    font-size: 14px;
}
nav .nav-link{
    padding: 12.8px 20px !important;
    font-size: 14px;
    color: white;
    font-weight: 500 ;
}
nav .nav-link:hover{
    color: white !important;
}
nav .btn-primary{
    padding-top: 18px;
    padding-bottom: 18px;
}
nav .btn-primary:hover{
    color: white ;
    background-color: var(--main-color) !important;
}
nav .active{
    color: var(--main-color) !important;
}
.home{
    padding: 0 !important;
    width: 100%;
    height: 100svh;
}
.home .carousel{
    height: 100svh;
}
.home .carousel .carousel-item{
    width: 100%;
    height: 100svh;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
}
.home .carousel .carousel-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: 3;
}
.home .sub-title{
    z-index: 0;
    font-size: 80px;
    position: relative;
    top: 0;
    font-family: var(--font-family-great-vibes);
}
.home .carousel .carousel-caption h1{
    font-size: 60px;
    font-weight: 600;
}
.hot-menu {
    padding: 0;
    position: relative;
}
.hot-menu .inner-container{
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    /* background-color: #666666; */
    margin-top: -230px;
    z-index: 3;
    padding-top: 30px;
}
.hot-menu .hot-menu-item{
    margin-bottom: 20px;
    text-align: center;
}
.hot-menu .hot-menu-item .hot-menu-img {
    text-align: center;
    margin-bottom: 10px;
}
.hot-menu .hot-menu-item .hot-menu-img img{
    width: 90px;
    border-radius: 50%;
}
.hot-menu .hot-menu-item h3{
    font-size: 18px;
    color: white;
}
.hot-menu .hot-menu-item span{
    font-size: 14px;
    color: #ffffffcc;
}
.about .about-img{
    width:48%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
}
.about .about-img-1{
    margin: -30px 8px 0px 0px !important;
    bottom: 0;
    left: 0;
    /* transform: translateY(-30px); */
}
.about .about-img-2{
    margin: 0px 8px -30px 0px !important;
    bottom:0;
    right: 0;
    transform: translateY(30px);
}
.about .sub-title{
    top: -70px;
}
.about .main-title{
    font-weight: 600;
    font-size: 50px;
}
.about p{
    color: var(--par-text-color);
    line-height: 2;
    font-size: 17px;
    margin-bottom: 16px;
}
.about .date-span{
    color: var(--par-text-color);
    font-size: 17px;
}
.about div a{
    font-size: 40px;
    color: var(--main-color);
    font-weight: bold;
    display: block;
    margin-top: 20px;
}
.about .about-img img{
    width: 100%;
}
.numbers p{
    color: var(--par-text-color);
    line-height: 2;
    font-size: 17px;
    margin-bottom: 16px;
}
.numbers span{
    color: var(--par-text-color);
    line-height: 2;
    font-size: 15px;
    margin-bottom: 16px;
}
.numbers h3{
    color: var(--main-color);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}
.services svg{
    width: 65px;
}
.services svg path{
    fill: var(--main-color);
}
.services .row .content h3{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 500;
}
.services .row .content p{
    font-size: 17px;
    margin-bottom: 16px;
    color: var(--par-text-color);
    line-height: 2;
}
.menu .item-img{
    width: 100%;
    background-position: center;
    background-size: cover;
}
.menu .menu-item-con{
    padding: 0px !important;
}
.menu .item-text{
    width: 100%;
}
.menu .item-text .text{
    padding: 30px 20px;
    width: 100%;
}
/* .menu .item-text .text span{
    display: block;
}
.menu .item-text .text .left-side{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: red;

} */
.menu .item-text h3{
    font-size: 20px;
}
.menu .item-text p{
    font-size: 17px;
}
.menu .item-text p{
    font-size: 17px;
}
.menu .item-text .price{
    font-weight: 600;
    color: var(--main-color);
    font-size: 20px;
}
.chef .container .row .img-box img{
    width: 100%;
    border-radius: 5px;
}
.chef .box-content .icon-list{
    margin-bottom: 16px;
}
.chef .box-content .icon-list li{
    margin-right: 10px;
}
.chef .box-content h3{
    color: var(--heading-text-color);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.chef .box-content span{
    color: var(--light-text);
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
.chef .box-content .icon-list li a{
    color: var(--main-color);
    font-size: 17px;
}
.reservation{
    background-image: url(../img/bg_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.reservation .form-group{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}
.reservation .form-group label{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 8px;
}
.reservation .form-group .form-input{
    padding: 12px 12px;
    outline: none;
    border: 1px solid #E5E5E5;
}
.testimony .customer-img .img-holder{
    position: relative;
    width: auto;
}
.testimony .customer-img .qoute{
    position: absolute;
    bottom: 0;
    left: 70%;
    transform: translate(-70%);
    background-color: var(--main-color);
    padding: 5px 7px;
    border-radius: 50%;
}
.testimony svg{
    width: 20px;
    height: 20px;
}
.testimony svg path{
    fill: white;
}
.testimony img{
    width: 50%;
    border-radius: 50%;
}
.testimony .text-content .par{
    color: var(--par-text-color);
    font-size: 17px;
    line-height: 2;
}
.testimony .customer-name{
    font-size: 22px;
    font-weight: 400;
    color: black;
}
.testimony .text-content span{
    text-transform:uppercase; 
    color: var(--par-text-color);
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
}
.testimony .carousel-indicators button{
    width: 10px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--light-text);
}
.testimony .carousel-indicators {
    bottom: -50px;
}
.testimony .carousel-indicators .active{
    background-color: var(--main-color) !important;
}
.blog .post .img-holder{
    height:300px;
    width: 100%;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.blog .post .text-content .up-links *{
    font-size: 15px;
    color: var(--light-text);
}
.blog .post .text-content h3{
    margin-bottom: 16px;
}
.blog .post .text-content h3 a{
    color: var(--heading-text-color);
    font-size: 20px;
    font-weight: 600;
}
.blog .post .down-links{
    margin-bottom: 16px;
}
.blog .post .down-links .read-more{
    font-size: 15px;
    color: black;
}
.blog .post .down-links .icon{
    font-size: 17px;
    color: var(--light-text);
}
.blog .post .down-links .icon svg{
    width: 15px;
}
.blog .post .down-links .icon svg path{
    fill: var(--light-text);
}
/* footer start */
footer{
    color: var(--light-gray);
    font-size: 14px;
}
footer{
    padding: 84px 0px;
}
footer h2{
    color: white;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
}
footer p{
    margin-bottom: 16px;
    line-height: 2;
}
footer ul a{
    color: white;
    background-color: #ffffff0d;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 19px;
}
footer .time-list ul li{
    padding-bottom: 8px;
}
footer ul #face{
    padding: 10px 19px;
}
footer form .text-input{
    padding: 10px 16px;
    outline: none;
    border: none;
    background-color: #2C2B2B;
    width: 100%;
    color: white;
}
footer form .text-input::placeholder{
    font-size: 18px;
    color: rgb(185, 185, 185);
}
footer .insta-images a{
    /* display: block; */
    height:100px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: 0; */
    /* background-size: 100%;; */
    background-size: cover;
}
footer .insta-images a:nth-child(1){
    background-image: url(../img/insta-1.jpg);
}
footer .insta-images a:nth-child(2){
    background-image: url(../img/insta-2.jpg);
}
footer .insta-images a:nth-child(3){
    background-image: url(../img/insta-3.jpg);
}
footer .insta-images a:nth-child(4){
    background-image: url(../img/insta-4.jpg);
}
footer .insta-images a:nth-child(5){
    background-image: url(../img/insta-5.jpg);
}
footer .insta-images a:nth-child(6){
    background-image: url(../img/insta-6.jpg);
}
footer form .btn{
    padding: 10px 16px;
    width: 100%;
    font-size: 16px;
}
footer form *{
    border-radius: 3px !important;
}
footer form .btn:hover{
    background-color: var(--main-color);
    color: white;
}
.half-page .home{
    height: auto;
}
.half-page .bg-img-home{
    width: 100%;
    height: 61svh;
    background-attachment: fixed;
}
.half-page .home .home-half-content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color:  white;
}
.half-page .home .home-half-content h1{
    font-size: 50px;
    font-weight: 900;
}
.half-page .home .home-half-content p{
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.under-line-semi{
    padding: 0px 5px;
    letter-spacing: 2px;
    position: relative;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}
.pagination *{
    color: var(--main-color) !important;
}
.pagination li{
    padding: 5px;
}
.pagination li .page-link{
    border-color: var(--main-color) !important;
    /* padding: 10px; */
    padding-left: 14px !important;
    padding-right: 14px !important;
    border-radius: 5px;
}
.pagination .active{
    background-color: var(--main-color) !important;
    color: white !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
/* fotter end */

@media only screen and (max-width:768px) {
    .top-heading{
        display: none !important;
    }
    .navbar{
        top: 0;
        padding: 20px !important;
        background-color: black !important;
    }
    .navbar-brand{
        font-size: 30px !important;
    }
    .container{
        width: 100% !important;
    }
    .hot-menu .inner-container{
        margin-top: 0px !important;
        color: black;
    }
    .inner-container *{
        color: black !important;
    }    
    .inner-container span{
        color:var(--par-text-color) !important;
    }   
    .about .about-img{
        width:50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        top:0;
        position: relative;
        transform: translate(0);
        bottom: 0;
        margin: 0px !important;
        margin-bottom: 30px !important;
    }
    .numbers h3, .numbers span , .numbers p{
        text-align: center;
        display: block;
    }
    .menu .item-img{
        width: 100%;
        height: 250px;
    }
}